//- ...
include ../lib/_manager



//- ...
doctype html
html(lang="en" data-theme="light")



    //- ...
    +head(brandName, "styles.css")



    //- ...
    // Website Made By:- 
    // @black_eagle_dev (Find me on Twitter/X)
    // @Raezard77 (Contact me via Telegram)
    body 
        header#home
            +navBar(brandName, linksArr)
            main
                h1.hidden !{heroTitle}
        section#about
            #about-txt.hidden
                h2 !{aboutTitle}
                +aboutTxt()
            img#about-img.hidden(src="./images/sam-suit.jpg", alt="SAM'S PIC")
        section#testimonials
            h2 WIP
        section#services
            h2 WIP
        section#faq
            h2.hidden F.A.Q
            .faq-box
                .question.hidden #[span !{question}]
                //- br
                .answer.hidden #[span !{answer}]
        section#call
            h2 WIP
        footer
            h2.hidden !{brandName}
            h4.hidden Copyright &copy;#[span#year] All rights reserved


        //- ...
        +loadScripts()
        script
            | document.querySelector('#year').textContent = new Date().getUTCFullYear()
