//- ...
mixin customHead()
    //- meta(http-equiv="refresh", content="2")



//- ...
mixin loadScripts()
        script(src="./js/debug-tools.js")
        //- script(src="./js/dark-mode.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
        script(src="./js/navbar.js")
        script(src="./js/hide-url.js")
        //- script(src="./js/bg-vid.js")



//- ...
mixin textInput(type="text", label="Text", name="text", id="text1")
    .input-group
        input(type=type, class="input-field", placeholder=" ", name=name, id=id)
        label(for=id, class="input-label") #{label}
